@{
    ViewData["Title"] = "Chat";
}

@model IEnumerable<TestingAppWeb.Models.ChatMessageDto>

<h2>Чат</h2>

<div id="chat-container">
    <ul id="chat-messages">
        @foreach (var message in Model)
        {
            <li>
                <strong>@message.UserName</strong>
                <span> (@message.Timestamp.ToString("yyyy-MM-dd HH:mm")):</span>
                <p>@message.Text</p>
            </li>
        }
    </ul>
</div>

<form id="chat-form">
    <input type="text" id="username" placeholder="Имя" required />
    <input type="text" id="message" placeholder="Сообщение" required />
    <button type="submit">Отправить</button>
</form>

<script type="module" src="~/js/chat-main.js" asp-append-version="true"></script>