@{
    ViewData["Title"] = "About me";
}

<link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="about-container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Здесь будет немного информации о мне.
    </p>

    <blockquote>
        “Если хочешь сделать мир лучше — начни с одной красивой строчки кода.”
    </blockquote>

    <p>
        тут тоже что-то да будет
    </p>
</div>